.home .button-container {
  margin-top: 40vh;
  text-align: center;
}
.home .button{
  width: 100%;
  text-decoration: none;
  border-radius: 1rem;
  background: rgb(59, 59, 59);
  color: white;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}